# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Jupyter
.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Output and image data
output/
app/images/
app/web/static/

# Environment files
.env
